<a href="/pun/rproxy/<%= connect.host %>/<%= connect.port %>/" target="_blank" class="btn btn-primary">
  <i class="fa fa-lock"></i> Connect to Header Viewer Relative
</a>
<a href="/pun/proxy/<%= connect.host %>/<%= connect.port %>/" target="_blank" class="btn btn-primary">
  <i class="fa fa-lock"></i> Connect to Header Viewer Absolute
</a>
